.slide {
  position: relative;
}
.edit_slider {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #9d989869;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.edit_slider img {
  width: 50px;
  height: 50px;
}
.edit_slider:hover {
  background-color: #a3a3a3;
}
